.ImageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Image__image {
  -webkit-filter: brightness(100%);
}

.Image__image:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.Image__nsfw {
  filter: blur(10px);
}

.Image__nsfw:hover {
  filter: blur(12px);
  
}
