.Navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 0px 25px;
  width: 100%;
}

.Navbar__brand {
  display: flex;
  align-items: center;
  width: auto;
}

.Navbar__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
}

.Navbar__link {
  margin-right: 20px;
}
